In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv('./datas/adult.csv')
df.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

In [3]:
for col in df:
    df[col] = df[col].replace("?",df[col].mode()[0])
df

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,Private,77053,HS-grad,9,Widowed,Prof-specialty,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,Private,186061,Some-college,10,Widowed,Prof-specialty,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32557,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32558,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32559,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32560,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K

In [4]:
df.workclass.value_counts()

workclass
Private             24532
Self-emp-not-inc     2541
Local-gov            2093
State-gov            1298
Self-emp-inc         1116
Federal-gov           960
Without-pay            14
Never-worked            7
Name: count, dtype: int64

In [5]:
df.workclass = df.workclass.replace(["Without-pay","Never-worked"],"others")
df.workclass = df.workclass.replace(["Local-gov","State-gov",'Federal-gov'],"gov")
df.workclass = df.workclass.replace(["Self-emp-not-inc","Self-emp-inc"],"Self-emp")
df.workclass.unique()

array(['Private', 'gov', 'Self-emp', 'others'], dtype=object)

In [6]:
df.education.value_counts()

education
HS-grad         10501
Some-college     7291
Bachelors        5355
Masters          1723
Assoc-voc        1382
11th             1175
Assoc-acdm       1067
10th              933
7th-8th           646
Prof-school       576
9th               514
12th              433
Doctorate         413
5th-6th           333
1st-4th           168
Preschool          51
Name: count, dtype: int64

In [7]:
df.education = df.education.replace(["HS-grad","11th",'10th','7th-8th','9th','12th','5th-6th','1st-4th','Preschool'],"school")
df.education.value_counts()

education
school          14754
Some-college     7291
Bachelors        5355
Masters          1723
Assoc-voc        1382
Assoc-acdm       1067
Prof-school       576
Doctorate         413
Name: count, dtype: int64

In [8]:
df.occupation.value_counts()

occupation
Prof-specialty       5983
Craft-repair         4099
Exec-managerial      4066
Adm-clerical         3770
Sales                3650
Other-service        3295
Machine-op-inspct    2002
Transport-moving     1597
Handlers-cleaners    1370
Farming-fishing       994
Tech-support          928
Protective-serv       649
Priv-house-serv       149
Armed-Forces            9
Name: count, dtype: int64

In [9]:
df['race'].replace(['Black', 'Asian-Pac-Islander', 'Amer-Indian-Eskimo', 'Other'],' Other', inplace = True)

In [10]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder();

In [11]:
cat_variable = df.select_dtypes(include = "object").columns
for col in cat_variable:
    df[col] = le.fit_transform(df[col])
df

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,0,77053,7,9,6,9,1,1,0,0,4356,40,38,0
1,82,0,132870,7,9,6,3,1,1,0,0,4356,18,38,0
2,66,0,186061,6,10,6,9,4,0,0,0,4356,40,38,0
3,54,0,140359,7,4,0,6,4,1,0,0,3900,40,38,0
4,41,0,264663,6,10,5,9,3,1,0,0,3900,40,38,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,22,0,310152,6,10,4,10,1,1,1,0,0,40,38,0
32557,27,0,257302,0,12,2,12,5,1,0,0,0,38,38,0
32558,40,0,154374,7,9,2,6,0,1,1,0,0,40,38,1
32559,58,0,151910,7,9,6,0,4,1,0,0,0,40,38,0
32560,22,0,201490,7,9,4,0,3,1,1,0,0,20,38,0

In [12]:
cor = df.corr()
cor

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
age,1.000000,0.150886,-0.076646,-0.029298,0.036527,-0.266288,0.001739,-0.263698,0.033412,0.088832,0.077674,0.057775,0.068756,-0.000270,0.234037
workclass,0.150886,1.000000,-0.032467,-0.116218,0.176907,-0.078922,-0.012426,-0.054401,-0.021120,0.025312,0.023206,0.029599,0.067561,0.039989,0.104566
fnlwgt,-0.076646,-0.032467,1.000000,0.019724,-0.043195,0.028153,0.000188,0.008931,-0.056896,0.026858,0.000432,-0.010252,-0.018768,-0.063286,-0.009463
education,-0.029298,-0.116218,0.019724,1.000000,-0.717141,0.047399,-0.061421,0.075658,-0.038742,-0.003941,-0.060846,-0.051066,-0.103155,-0.017279,-0.240611
education.num,0.036527,0.176907,-0.043195,-0.717141,1.000000,-0.069304,0.070954,-0.094153,0.051353,0.012280,0.122630,0.079923,0.148123,0.088894,0.335154
marital.status,-0.266288,-0.078922,0.028153,0.047399,-0.069304,1.000000,0.034962,0.185451,-0.080376,-0.129314,-0.043393,-0.034187,-0.190519,-0.021278,-0.199307
occupation,0.001739,-0.012426,0.000188,-0.061421,0.070954,0.034962,1.000000,-0.037451,-0.004615,0.047461,0.018021,0.009680,-0.012879,-0.002217,0.034625
relationship,-0.263698,-0.054401,0.008931,0.075658,-0.094153,0.185451,-0.037451,1.000000,-0.131913,-0.582454,-0.057919,-0.061062,-0.248974,-0.010712,-0.250918
race,0.033412,-0.021120,-0.056896,-0.038742,0.051353,-0.080376,-0.004615,-0.131913,1.000000,0.103486,0.014429,0.021044,0.049345,0.107344,0.085224
sex,0.088832,0.025312,0.026858,-0.003941,0.012280,-0.129314,0.047461,-0.582454,0.103486,1.000000,0.048480,0.045567,0.229309,0.002061,0.215980
capital.gain,0.077674,0.023206,0.000432,-0.060846,0.122630,-0.043393,0.018021,-0.057919,0.014429,0.048480,1.000000,-0.031615,0.078409,0.008819,0.223329
capital.loss,0.057775,0.029599,-0.010252,-0.051066,0.079923,-0.034187,0.009680,-0.061062,0.021044,0.045567,-0.031615,1.000000,0.054256,0.009401,0.150526
hours.per.week,0.068756,0.067561,-0.018768,-0.103155,0.148123,-0.190519,-0.012879,-0.248974,0.049345,0.229309,0.078409,0.054256,1.000000,0.006592,0.229689
native.country,-0.000270,0.039989,-0.063286,-0.017279,0.088894,-0.021278,-0.002217,-0.010712,0.107344,0.002061,0.008819,0.009401,0.006592,1.000000,0.023058
income,0.234037,0.104566,-0.009463,-0.240611,0.335154,-0.199307,0.034625,-0.250918,0.085224,0.215980,0.223329,0.150526,0.229689,0.023058,1.000000

In [138]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df[['age','workclass','fnlwgt','education','education.num','occupation','relationship','race','sex','capital.gain','hours.per.week','native.country']],df.income, test_size = 0.3, random_state = 42)

In [139]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler() 
x_train = pd.DataFrame(scaler.fit_transform(x_train), columns = x_train.columns)
x_test = pd.DataFrame(scaler.transform(x_test), columns = x_test.columns)

In [140]:
x_train

,workclass,fnlwgt,education,education.num,occupation,relationship,race,sex,capital.gain,hours.per.week,native.country
0,-0.539358,0.961944,0.789559,-0.420040,-1.037229,-0.898708,0.414009,0.703666,-0.146469,-0.046384,0.260611
1,-0.539358,-0.761973,0.345453,-0.032023,1.221516,1.585101,0.414009,-1.421129,-0.146469,-0.611341,0.260611
2,-0.539358,-0.499149,-1.430972,1.132030,-0.033342,-0.898708,-2.415405,0.703666,-0.146469,-0.046384,-4.975619
3,-0.539358,-0.682968,-2.319185,0.744013,1.221516,0.964149,0.414009,0.703666,-0.146469,-1.660545,0.260611
4,0.861081,2.301181,0.789559,-0.420040,-1.539173,2.206053,0.414009,-1.421129,-0.146469,-3.113290,0.260611
...,...,...,...,...,...,...,...,...,...,...,...
22787,-0.539358,2.099618,0.789559,-0.420040,-1.037229,0.964149,0.414009,0.703666,-0.146469,-0.046384,0.260611
22788,-0.539358,-0.407063,-1.875078,0.355995,0.719573,-0.898708,0.414009,0.703666,-0.146469,-0.046384,0.260611
22789,2.261520,0.462754,0.789559,-0.420040,1.472488,-0.898708,0.414009,0.703666,-0.146469,-0.046384,0.260611
22790,-0.539358,-0.337525,0.345453,-0.032023,-1.539173,-0.898708,0.414009,0.703666,-0.146469,0.760696,0.260611
22791,-0.539358,-0.255790,0.789559,-0.420040,-0.284314,0.964149,0.414009,0.703666,-0.146469,0.760696,-0.884814

In [141]:
y_train

19749    0
1216     0
27962    0
23077    0
10180    0
        ..
29802    0
5390     1
860      1
15795    1
23654    0
Name: income, Length: 22792, dtype: int64

In [142]:
x_test

,workclass,fnlwgt,education,education.num,occupation,relationship,race,sex,capital.gain,hours.per.week,native.country
0,-0.539358,0.866395,0.345453,-0.032023,-0.284314,-0.898708,0.414009,0.703666,-0.146469,-0.046384,0.260611
1,-0.539358,2.380652,0.345453,-0.032023,1.221516,0.964149,0.414009,0.703666,-0.146469,-2.064086,0.260611
2,-0.539358,0.144435,0.345453,-0.032023,1.472488,2.206053,0.414009,-1.421129,-0.146469,-0.046384,0.260611
3,-0.539358,-0.775977,0.789559,-1.196076,1.221516,-0.277756,0.414009,0.703666,-0.146469,0.357156,0.260611
4,-0.539358,-1.288201,0.345453,-0.032023,-1.539173,0.964149,0.414009,-1.421129,-0.146469,-0.853465,0.260611
...,...,...,...,...,...,...,...,...,...,...,...
9764,0.861081,-0.072103,-0.986866,2.296084,0.719573,-0.277756,0.414009,-1.421129,-0.146469,4.715390,0.260611
9765,0.861081,-0.867597,0.789559,-0.420040,-1.037229,0.964149,0.414009,0.703666,-0.146469,-0.449925,0.260611
9766,2.261520,-0.334347,0.345453,-0.032023,-0.535286,0.964149,0.414009,0.703666,-0.146469,-0.046384,0.260611
9767,-0.539358,0.407050,0.789559,-2.360129,-0.033342,-0.277756,0.414009,0.703666,-0.146469,-0.046384,0.260611
9768,-0.539358,0.631885,0.789559,-0.808058,0.719573,-0.277756,0.414009,0.703666,-0.146469,0.599280,0.260611

In [143]:
from sklearn.linear_model import LogisticRegression
reg = LogisticRegression(solver="liblinear", max_iter = 10000)

In [144]:
y_train.unique()

array([0, 1])

In [145]:
reg.fit(x_train, y_train)

LogisticRegression(max_iter=10000, solver='liblinear')

In [146]:
reg.predict(x_test)

array([0, 0, 0, ..., 0, 0, 0])

In [147]:
reg.score(x_test, y_test)

0.8242399426758112